@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

//font-family: 'Libre Franklin', sans-serif;
$primary-color: #7986cb;
$primary-color-light: #aab6fe;
$primary-color-dark: #49599a;
$secondary-color: #333333;
$bootstrap-color: #007bff;

//Media Query Mixins

@mixin mediaSm {
  @media screen and (max-width: 500px) {
    // 80vh
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    //122.8vh
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXlg {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
